<h3>CalculatorComponent</h3>
<p>This component will help convert between celsius to fahrenheit</p>

<div class="mb-3">
    <label class="form-label">Amount in Celsius</label>
    <NumberInput TValue="int" @bind-Value="@amount" Placeholder="Enter amount" />
</div>
<div class="mb-3">Entered Amount: @ConvertCtoF(amount)</div>

@code {
    private int amount;

    //(1°C × 9/5) + 32 = 33.8°F
    private decimal ConvertCtoF(decimal celsius)
    {
        return (celsius * 9 / 5) + 32;
    }


}

