<h3>Feet and Inches Component</h3>
<p>This component will help convert between feet and inches to centimeter</p>

<div class="mb-3">
    <label class="form-label">Feet</label>
    <NumberInput TValue="int" @bind-Value="@feet" Placeholder="Enter Feet" />
    <label class="form-label">Inches</label>
    <NumberInput TValue="int" @bind-Value="@inches" Placeholder="Enter Inches" />

    @* sir added a button to his *@
    @* use this anonymous function method() => when you have a method you want to bind which has parameters *@
    @* <Button @onclick ="() => ConvertFeetInchesToCM(feet, inches)">Calculate</Button> *@

</div>
<div class="mb-3">Amount in centimeter: @ConvertFeetInchesToCM(feet,inches)</div>

@code {
    private int feet;
    private int inches;

    //5ft × 30.48 + 11in × 2.54

    private double ConvertFeetInchesToCM(double feet, double inches)
    {
        return (feet * 30.48 + inches * 2.54);
    }





}