@page "/bmccalc"
<h3>Basal Metabolic Calculator</h3>
<p>The formula we use is the reversed Harris-Benedict formula equation. </p>
<p>Use this tool to calculate your BMR based on your personal metrics. </p>


<NixProfile210.Components.BMCComponent />

@code {

}
