@page "/"

<PageTitle>Home</PageTitle>

<div align="center">
    <Image Src="bmr.png" Alt="placeholder" />
    <h1>Welcome to the Basal Metabolic Rate Calculator</h1>
    <h5>Calculate your Basal Metabolic Rate to understand how many calories your body needs at rest.</h5>
</div>


