@* Creates routing for the blazor page*@
@page "/register"


    <h3>Register and Login</h3>
    <NixProfile210.Components.RegisterComponent />

    <NixProfile210.Components.LoginComponent />




@code {

}
