@page "/services"
<PageTitle>Services</PageTitle>
<div align="center">
    <h1>Services we offer to help you understand and manage your basal metabolic rate</h1>

    <h3>
        The services offered in relation to Basal Metabolic Rate (BMR) and general metabolic health might differ significantly based on the setting, including wellness, exercise, healthcare, and nutrition. 
        The following are a few of the services we provide:
    </h3>
</div>
<br />
<hr />
<div>
    <h4>Nutritional Counseling</h4>
    <hr />
    <p>
        Get a customized diet plan based on your BMR, dietary choices, and desired level of health. 
        Our programs are made to maximize your metabolism and encourage responsible weight control.
    </p>
    <ul>
        <li>Custom meal plans</li>
        <li>Grocery lists</li>
        <li>Ongoing support</li>        
    </ul>
</div>

<div>
    <hr />
    <h4>Fitness Coaching</h4>
    <hr />
    <p>
        Our certified fitness coaches will work with you to create an exercise regimen 
        that complements your nutrition plan and helps you reach your fitness goals.
    </p>
    <ul>
        <li>Personalized workout plans</li>
        <li>Online coaching sessions</li>
        <li>Progress tracking</li>
    </ul>
</div>

<div>
    <hr />
    <h4>Health Assessments</h4>
    <hr />
    <p>Get a comprehensive health assessment that includes body composition analysis and metabolic 
        testing to understand your unique needs better.
    </p>
    <ul>
        <li>Detailed reports</li>
        <li>Customized recommendations</li>
        <li>Regular follow-ups</li>
    </ul>
</div>

<div>
    <hr />
    <h4>Online Workshops and Webinars</h4>
    <hr />
    <p>Join our workshops and webinars to learn about nutrition, metabolism, and healthy living. 
        Gain insights from experts and ask questions in real-time.</p>
    <ul>
        <li>Live Q&A sessions</li>
        <li>Interactive learning experiences</li>
        <li>Access to recorded sessions</li>
    </ul>
</div>

<div>
    <hr />
    <h4>Community Support Group</h4>
    <hr />
    <p>Become a part of our community where you can share experiences, tips, and encouragement 
        with others on similar journeys. Support can make all the difference!</p>
    <ul>
        <li>Online forums</li>
        <li>Monthly meet-ups</li>
        <li>Resource sharing</li>
    </ul>
</div>